version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "github-actions"
      - "security"
    commit-message:
      prefix: "ci"
      include: "scope"
    reviewers:
      - "r3bo0tbx1"
    assignees:
      - "r3bo0tbx1"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "UTC"
    open-pull-requests-limit: 3
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "docker"
      - "security"
    commit-message:
      prefix: "build"
      include: "scope"
    reviewers:
      - "r3bo0tbx1"
    assignees:
      - "r3bo0tbx1"
    ignore:
      - dependency-name: "alpine"
        update-types: ["version-update:semver-major"]
