* text=auto
*.sh text eol=lf
docker-entrypoint.sh text eol=lf
healthcheck.sh text eol=lf
tools/* text eol=lf
*.container text eol=lf
Dockerfile text eol=lf
.github/workflows/*.yml text eol=lf
*.md text
*.txt text
*.yml text eol=lf
*.yaml text eol=lf
*.png binary
*.jpg binary
*.gif binary