show_bits true
confirm_quit true
color_interface true
redraw_rate 2
connection_rate 5
resource_rate 5
logged_events NOTICE
deduplicate_log true
prepopulate_log true
max_log_size 1000
graph_stat bandwidth
graph_interval 5 seconds
graph_bound local_max     
graph_height 10
connection_order CATEGORY, UPTIME, IP_ADDRESS
resolve_processes true
show_addresses true
show_graph true
show_accounting true
show_log true
show_connections true
show_config true
show_torrc true